body {
  font-family: Arial, sans-serif;
  padding: 20px;
}

.btn {
  background-color: #add8e6;
  border: 1px solid #000;
  padding: 10px;
  margin-bottom: 10px;
  display: inline-block;
}

.box {
  background-color: #add8e6;
  border: 1px solid #000;
  padding: 5px;
  margin-bottom: 5px;
  width: fit-content;
}
.green-text {
  color: green;
}

.yellow-text {
  color: yellow;
}