body {
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* 
    selettore di tipo
*/
h1 {
    font-size: 2.5em;
    color: red;
}

h3 {
    background: lightblue;
}

/* 
    selettore  list
*/
p,
li {
    font-size: 1.2em;
    color: blue;
}

/*
    selettore di tipo
*/
a {
    text-decoration: none;
    color: cadetblue;
}

/* 
    selettore di classe
*/
.special {
    color: brown
}

.highlight {
    background-color: yellow;
}

.special.highlight {
    color: red;
    background-color: yellow;
}


/*
    selettore discendente
*/
nav ul {
    list-style-type: none;
}

/* 
    selettore prossimo fratello
*/
h1+p {
    text-transform: uppercase;
}

/* 
    selettore di attributo
*/
a[title] {
    color: chartreuse;
}


article p {
    color: gray
}

/* 
    selettore pseudo classe
*/
article p:first-child {
    font-weight: 800;
}

/* 
    selettore pseudo elemento
*/
article p::first-line {
    background-color: lightgoldenrodyellow;
}

.box {
    background-color: lightblue;
    border: 1px solid black;
    width: 50%;
    padding: 30px;
    margin: 50px;
}

section {
    background-color: lightblue;
    border: 1px solid black;
    padding: 30px;
}

section>div {
    background-color: lightgreen;
    border: 1px solid black;
    width: 300px;
    height: 100px;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 10px;
    overflow-y: auto; 
    overflow-x: hidden;
}

section+p>span {
    background-color: lightgreen;
    border: 1px solid black;
    display: inline-block;
    padding: 10px;
    height: 100px; /*ignorata perchè non è un blocco*/
}

nav>ul>li {
    display: inline-block;
    margin-right: 2px;
    background-color: lightblue;
    padding: 10px;
    border-radius: 10px;
}

nav>ul>li>a{
    color: black;
    text-decoration: none;
}   

nav>ul>li:hover {
    background-color: blue;
}
nav>ul>li:hover>a {
    color: white;
}

/*
layout base 
*/

.assoluta{
    position: absolute;
    top: 0;
    left: 0;    
    background-color: lightgoldenrodyellow;
}

.assoluta1{
    position: absolute;
    top: 0;
    right: 0;    
    background-color: lightgoldenrodyellow;
}

.relativa{
    position: relative;
    top: 50px;
    left: 100px;    
    background-color: lightgray;
}

.fissa{
    position: fixed;
    top: 0;
    left: 0;    
    background-color: lightblue;
}